ul {
    margin: 0;
    padding:  0;
    list-style: none;
    height: 45px;
    line-height: 15px;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
}
li{
    float: left;
    border-right: 2px solid black;
}

a{
    display: block;
    padding: 0 40px;
    color:   white;
    text-decoration: none;
}
a:hover{
    background-color: blue;

}
.my-button{
    width: 70px;
    height: 30px;
    font-size: small;
    font-family: lato;
    background-color: wheat;
    color: black;
    border:1px solid black;
    box-shadow: 2px 2px lightgrey;
    border-radius: 5px;

}
*{
    margin: 0px;
    padding: 0px;
}

.container2{
    display: flex;
    position: relative;
    width: 200px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}
.container2 .card{
    position: relative;
    width: 120px;
    height: 150px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px grey (0,0,0,0,2);
    transition: 0.5s;

}


.container2 .card h2{
    position: relative;
    color: red;
    font-size: 2em;
    padding: 30px 0;
}
.container2 .card .content{
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;

}
.container2 .card .content p{
    color: yellowgreen;
    font-size: 1em;
}

.container2 .card .card-image1{

    grid-area: image;
    background: url("food img2.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.search-box{
    position: absolute;
    transform: translate(-50%,-50%);
    background: pink;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
}
